img {
    width: 100%;
}

.game {
    width: 100%;
    max-height: 100vh;
}

/* .game-info {

} */

.game-board {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* .board-row {
    min-width: 90%;
} */

.square {
    position: relative;
    float: left;
    width: 12%;
    text-align: center;
    background-color: #a0ffff;
}

.board-row:nth-child(even) .square:nth-child(even),
.board-row:nth-child(odd) .square:nth-child(odd) {
    background-color: #00efef;
}